openapi: 3.0.3
info:
  title: Enterprise Integration Agent API
  description: Governed enterprise integration agent control plane.
  version: 1.0.0
servers:
  - url: https://ca-sysint-enterprise-agent-eus.kindmushroom-93329cd8.eastus.azurecontainerapps.io
paths:
  /health:
    get:
      operationId: getHealth
      summary: Check agent health
      responses:
        "200":
          description: Agent is healthy.
  /agent/chat:
    post:
      operationId: chatWithAgent
      summary: Plan or execute a governed enterprise integration request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentChatRequest"
      responses:
        "200":
          description: Governed agent result.
        "422":
          description: Request validation failed.
  /approvals/{approval_id}/decision:
    post:
      operationId: decideApproval
      summary: Record a human decision for a high-risk request
      parameters:
        - $ref: "#/components/parameters/ApprovalId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApprovalDecisionRequest"
      responses:
        "200":
          description: Approval decision recorded.
        "404":
          description: Approval request was not found.
  /approvals/{approval_id}/execute:
    post:
      operationId: executeApprovedAction
      summary: Execute a previously approved high-risk action
      parameters:
        - $ref: "#/components/parameters/ApprovalId"
      responses:
        "200":
          description: Approved action executed.
        "404":
          description: Approval request was not found.
        "409":
          description: Approval is pending or rejected.
  /audit/{correlation_id}:
    get:
      operationId: getAuditEvents
      summary: Get governed audit events for one correlation ID
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Ordered audit events.
components:
  parameters:
    ApprovalId:
      name: approval_id
      in: path
      required: true
      schema:
        type: string
    CorrelationId:
      name: correlation_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    AgentChatRequest:
      type: object
      required:
        - user_message
      properties:
        user_message:
          type: string
        correlation_id:
          type: string
          nullable: true
        simulate_when_ready:
          type: boolean
          default: false
    ApprovalDecisionRequest:
      type: object
      required:
        - decision
        - reviewer
      properties:
        decision:
          type: string
          enum:
            - approved
            - rejected
        reviewer:
          type: string
        comment:
          type: string
          nullable: true
